html, body {
    margin: 0;
    background-color: #111;
    overflow: hidden;
    width: 100%;
    font-family: arial;
    color:white;
  }
  
  .full-size {
    width: 100%;
    height: 100%;
  }
  
  .centering {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position:absolute;
  }
  
  .canvas-container {
    overflow: hidden;
  }
  
  .mycanvas {
    display: block;
    margin: 20px auto;
    image-rendering: pixelated;
  }
  
  #sound-icon-holder {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    padding: 4px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }

  #info {
    text-align: justify;
    margin: auto;
    width: 98%;
    display: block;
  }
  