html, body {
    margin: 0;
    background-color: #111;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .full-size {
    width: 100%;
    height: 100%;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .clearfix {
    overflow: auto;
  }
  
  .centering {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  .non-selectable {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
  }
  
  .canvas-container {
    overflow: hidden;
  }
  
  .mycanvas {
    display: block;
    margin: 0 auto;
    image-rendering: pixelated;
  }
  
  .touch-btn-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .touch-btn {
    width: 80px;
    height: 80px;
    margin: 4px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    user-select: none;
  }
  .touch-btn:active {
    background-color: rgba(255,255,255,0.5);
  }
  
  .stick-area {
    position: relative;
    width: 160px;
    height: 80px;
    margin: 4px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    user-select: none;
  }
  .stick-area:active {
    background-color: rgba(255,255,255,0.5);
  }
  
  .stick-grip {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255,255,255);
    border-radius: 50%;
  }
  
  .stick-desc {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .move-btn {
    color: #fff;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  }
  
  .shot-btn {
    color: #f00;
    border-top: 2px solid #f88;
    border-left: 2px solid #f88;
    border-right: 2px solid #c00;
    border-bottom: 2px solid #c00;
  }
  
  #sound-icon-holder {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    padding: 4px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  